<div id="pageContent" class="container-fluid py-3">

    <div class="card text-center">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px;padding-top: 10px;">Información <strong>personal</strong></p>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <div class="row">
                        <label class="col-sm-3 col-form-label lblLeft">Fecha de nacimiento</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Fecha Nacimiento" title="Fecha Nacimiento" value="{{fecha}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblLeft">Edad</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="" placeholder="Edad" title="Edad" value="{{edad}} - años">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Lugar de nacimiento</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" disabled="" placeholder="Lugar Nacimiento" title="Lugar Nacimiento" value="{{informacion.LUGAR_NACIMIENTO}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Dirección domiciliaria</label>
                        <div class="col-sm-6">
                            <textarea autosize class="form-control textarea" disabled="" placeholder="Dirección domicilio" title="Dirección domicilio" style="resize: none;">{{direccion}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Teléfono fijo</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Teléfono" title="Teléfono" value="{{informacion.TELEFONO_FIJO}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblLeft">Celular</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Celular" title="Celular" value="{{informacion.TELEFONO_MOVIL}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Tipo sanguineo</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Tipo sanguineo" title="Tipo sanguineo" value="{{informacion.TIPO_SANGRE}}">
                        </div>

                        <label class="col-sm-2 col-form-label lblLeft">Género</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Género" title="Género" value="{{informacion.GENERO}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Aut. étnica</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Aut. étnica" title="Autoidentificación étnica" value="{{informacion.ETNIA}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblLeft">Discapacidad</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Discapacidad" title="Discapacidad" value="{{discapacidad}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Banco</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Banco" title="Banco" value="{{informacion.BANCO}}">
                        </div>

                        <label class="col-sm-2 col-form-label lblLeft">{{informacion.TIPO_CUENTA}}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Cuenta" title="Cuenta" value="{{informacion.NUM_CUENTA}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Estado civil</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Estado civil" title="Estado civil" value="{{informacion.ESTADO_CIVIL}}">
                        </div>

                        <label class="col-sm-2 col-form-label lblLeft" id="estCivN">Nombre Cónyuge</label>
                        <div class="col-sm-4" id="estCivI">
                            <input type="text" class="form-control" disabled="" placeholder="Cónyuge" title="Cónyuge" value="{{informacion.NOMBRE_CONYUGUE}}">
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Nombre  del padre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Nombre padre" title="Nombre padre" value="{{informacion.NOMBRE_PADRE}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblLeft">Nombre de la madre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled="" placeholder="Nombre madre" title="Nombre madre" value="{{informacion.NOMBRE_MADRE}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>