<div style="height: 100%; width: 100%; background-color:#F4F5F6;">
    <div style="height: 10px">
    </div>
    <p style="text-align: center; color: #192A67; font-size: 24px;">Detalle de<strong>sobretiempo</strong></p>
    <div class="card text-center" id="cardEncabezado">
        <div class="card-header" style="background-color: #EAEBEF">
            <div class="row mb-3">
                <div class="col-sm-5">
                    <div class="row">
                        <label for="fechaInicio" class="col-sm-4 col-form-label">Año</label>
                        <div class="col-sm-7">
                            <input id="inAnio" class="form-control" type="number" value="2022" required min="2000" [max]="anio" style="text-align:center;" data-toggle="tooltip" title="Año" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <label for="fechaFin" class="col-sm-4 col-form-label">Mes</label>
                        <div class="col-sm-8">
                            <select id="inMes" class="form-control" style="vertical-align : middle;text-align:center; margin-right:10px;border-radius: 3px; border-color: #20315F; padding-top: 2px;" title="Mes">
<option *ngFor="let mes of meses " [value]="mes.value" [selected]="mes.value==mesActual">{{mes.text}}</option>
 </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <button type="button" style="float: right;" id="btnConsultar" class="btn btn-primary" (click)="obtenerSobretiempos()" title="Consultar sobretiempo"><i class="bi bi-search"></i> Consultar
</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-sm-12">
                    <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist" style="background-color:#DFDFDF;">
                        <a class="nav-link active" id="step1-tab" data-toggle="tab" href="#step1" title="Adicional"> <i class="bi bi-plus-circle"></i> Adicional</a>
                        <a class="nav-link" id="step2-tab" data-toggle="tab" href="#step2" title="Nocturna"><i class="bi bi-moon" ></i> Nocturna</a>
                        <a class="nav-link" id="step3-tab" data-toggle="tab" href="#step3" title="Extraordinarias"><i class="bi bi-calendar-plus"></i> Extraordinarias</a>
                    </div>
                    <div class="tab-content py-4" id="nav-tabContent">
                        <!-- Step 1 ADICIONAL -->
                        <div class="card card-user tab-pane fade show active " id="step1" style="overflow-x: hidden;overflow -y: scroll; height: 300px;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Deetalle Adicional" id="tblAdicional">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext">Nº</th>
                                                <th scope="col" id="colortext">F.Inicio</th>
                                                <th scope="col" id="colortext">F. Fin</th>
                                                <th scope="col" id="colortext">H. Inicio</th>
                                                <th scope="col" id="colortext">H. Fin</th>
                                                <th scope="col" id="colortext">Horas</th>
                                                <th scope="col" id="colortext">Equivalencia</th>
                                                <th scope="col" id="colortext">Porcentaje</th>
                                                <th scope="col" id="colortext">Nómina</th>
                                                <!-- <th scope="col" id="colortext">Periodo</th> -->
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left;font-size: small;">
                                            <tr *ngFor="let ad of adicional">
                                                <td>{{ad.DCSJA_NUMERO}}</td>
                                                <td>{{ad.FECHA_INICIO}}</td>
                                                <td>{{ad.FECHA_FIN}}</td>
                                                <td style="text-align: center;">{{ad.HORA_INICIO}}</td>
                                                <td style="text-align: center;">{{ad.HORA_FIN}}</td>
                                                <td style="text-align: center;">{{ad.NUM_HORAS}}</td>
                                                <td style="text-align: center;">{{ad.EQUIVALENCIA}}</td>
                                                <td style="text-align: center;">{{ad.PORCENTAJE}}</td>
                                                <td>{{ad.NOMINA}}</td>
                                                <!-- <td>{{ad.PERIODO}}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--STEP 2 NOCTURNA-->
                        <div class="card card-user tab-pane fade" id="step2" style="overflow-x: hidden;overflow -y: scroll; height: 300px;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle Nocturna" id="tblNocturna">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext">Fecha</th>
                                                <th scope="col" id="colortext">Hora Inicio</th>
                                                <th scope="col" id="colortext">Hora Fin</th>
                                                <th scope="col" id="colortext">Total horas</th>
                                                <th scope="col" id="colortext">%</th>
                                                <th scope="col" id="colortext">Nómina</th>
                                                <th scope="col" id="colortext">Periodo</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left;font-size: small;" style="overflow-x: hidden;overflow -y: scroll; height: 300px;">
                                            <tr *ngFor="let noc of nocturna">
                                                <td>{{noc.FECHA}}</td>
                                                <td style="text-align: center;">{{noc.HORA_INICIO}}</td>
                                                <td style="text-align: center;">{{noc.HORA_FIN}}</td>
                                                <td style="text-align: center;">{{noc.TOTAL_HORAS}}</td>
                                                <td style="text-align: center;">{{noc.PORCENTAJE}}</td>
                                                <td>{{noc.NOMINA}}</td>
                                                <td>{{noc.PERIODO}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--STEP 3 EXTRAORDINARIAS-->
                        <div class="card card-user tab-pane fade" id="step3">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle Extraordinarias" id="tblExtras">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext" colspan="3">Jornadas</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Nº Horas</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Nómina</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Periodo</th>
                                            </tr>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext">Administrativas</th>
                                                <th scope="col" id="colortext">Laborales</th>
                                                <th scope="col" id="colortext">Adicionales</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: small;">
                                            <tr *ngFor="let ex of extraordinaria">
                                                <td>{{ex.JORNADAS_ADMIN}}</td>
                                                <td>{{ex.JORNDAS_LABORADAS}}</td>
                                                <td>{{ex.JORNADAS_ADICIONALES}}</td>
                                                <td>{{ex.NUM_HORAS_ADICIONALES}}</td>
                                                <td>{{ex.NOMINA}}</td>
                                                <td>{{ex.PERIODO}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px">
    </div>
</div>