<div style="background-color: #f7f7f9; width: auto; height:100%;">
    <div style="height: 10px">
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-11">
            <p style="text-align: center; color: #192A67; font-size: 24px;"> <strong>Anticipo</strong> RMU </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-1" style="background-color: #55BD9C; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-money-bill-wave mb-3 fs-3"></i>
                    <div class="fs-5">Monto</div>
                    <div class="fs-3"> {{monto}}</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-2" style="background-color: #6EADBE; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-coins mb-3 fs-3"></i>
                    <div class="fs-5">Saldo</div>
                    <div class="fs-3">{{saldo}}</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-3" style="background-color: #348FE2; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-money-check-alt mb-3 fs-3"></i>
                    <div class="fs-5">Total cuotas</div>
                    <div class="fs-3">{{total_cuotas}}</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-4" style="background-color: #857097; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-list-ol mb-3 fs-3"></i>
                    <div class="fs-5">Cuotas</div>
                    <div class="fs-3"> {{cuotas_pend}}</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-5" style="background-color: #4B6987; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-hand-holding-usd mb-3 fs-3"></i>
                    <div class="fs-5">Cuota</div>
                    <div class="fs-3"> {{valor_cuota}}</div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2 border-1 card-border-5" style="background-color: #DD9CAB; color: #FFFFFF;">
                <div class="card-body text-center">
                    <i class="fas fa-calendar-day mb-3 fs-3"></i>
                    <div class="fs-5">Tipo de pago</div>
                    <div class="fs-3"> {{tipo_pago}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center" id="cardEncabezado" style=" padding-left: 0;padding-right: 0;width: 100%;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-sm-12">
                    <div class="nav nav-pills nav-fill " id="nav-tab " role="tablist " style="background-color:#DFDFDF; ">
                        <a class="nav-link active" id="step1-tabAnt" data-toggle="tab" href="#step1Anticipos"><i class="bi bi-info-circle "></i> Información</a>
                        <a class="nav-link" id="step2-tabAnt" data-toggle="tab" href="#step2Anticipo"><i class="bi bi-card-list "></i> Detalle</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- STEP 1 -->
                        <div class="tab-pane fade show active div-T" id="step1Anticipos">
                            <div class="card-body ">
                                <div class="row mb-3 ">
                                    <div class="col-sm-8 ">
                                        <div class="row ">
                                            <label class="col-sm-2 col-form-label lblLeft ">Solicitante</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " class="form-control " disabled=" " placeholder="Solicitante " value="{{solicitante}} " id="Solicitante ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 ">
                                    <div class="col-sm-8 ">
                                        <div class="row ">
                                            <label class="col-sm-2 col-form-label lblLeft ">Garante</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " class="form-control " disabled=" " placeholder="Garante " value="{{garante}} " id="Garante ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 ">
                                    <div class="col-sm-4 ">
                                        <div class="row ">
                                            <label for="estado " class="col-sm-4 col-form-label lblLeft ">Nº Solicitud</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " class="form-control " id="Solicitud " disabled=" " placeholder="Nº Solicitud " value="{{numero_solicitud}} ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="row ">
                                            <label for="estado " class="col-sm-4 col-form-label lblLeft ">Fecha</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " class="form-control " id="Fecha " disabled=" " placeholder="Fecha " value="{{fecha_aprueba}} ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="row ">
                                            <label for="estado " class="col-sm-4 col-form-label lblLeft ">Tipo</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " class="form-control " id="Tipo " disabled=" " placeholder="Tipo Préstamo " value="{{tipo_prestamo}} ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 ">
                                    <div class="col-sm-5 ">
                                        <div class="row ">
                                            <label for="estado " class="col-sm-4 col-form-label lblLeft ">Imprimir pagos</label>
                                            <div class="col-sm-2 ">
                                                <a id="btnImprimir" (click)="reportePagos()" class="btn btn-success" role="button" style="float: right;" title="Editar"><i class="bi bi-printer"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--STEP 2-->
                        <div class="tab-pane fade div-T" id="step2Anticipo">
                            <div class="card-body ">
                                <div class="table-responsive ">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
                                        <thead>
                                            <tr style="background-color:#192A67;font-size: 11.5px; ">
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Nº</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Quincena</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Mes</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Año</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Valor</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Descontado</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Saldo</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Estado</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">F. Descuento</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Nómina</th>
                                                <th scope="col" id="colortext" style="font-size: 11.5px; ">Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 11.5px;">
                                            <tr *ngFor="let ant of anticipoDet">
                                                <td>{{ant.DSSCP_INDICE}}</td>
                                                <td>{{ant.QUINCENA}}</td>
                                                <td>{{ant.MES}}</td>
                                                <td>{{ant.ANIO}}</td>
                                                <td>{{ant.VALOR}}</td>
                                                <td>{{ant.VALOR_DESC}}</td>
                                                <td>{{ant.SALDO}}</td>
                                                <td>{{ant.ESTADO_CUOTA}}</td>
                                                <td>{{ant.FECHA_DESCUENTO}}</td>
                                                <td style="text-align: justify;">{{ant.NOMINA}}</td>
                                                <td>{{ant.OBSERVACION}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>