<div style="height: 100%; width: 100%; background-color:#F4F5F6;">
    <div style="height: 10px">
    </div>
    <p style="text-align: center; color: #192A67; font-size: 24px;">Periodo<strong> de vacaciones</strong> </p>
    <div class="card text-center" id="cardEncabezado">
        <div class="card-header" style="background-color: #EAEBEF">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4 col-form-label lblLeft">Tipo</label>
                        <div class="col-sm-8">
                            <select id="tipo" class="form-control" title="Tipo" (change)="obtenerPeriodos()"> 
                                <option value="3">Todos</option>
                                <option value="0">Normal</option>
                                <option value="1">Anticipado</option>
                                <option value="2">Proporcional</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4 col-form-label lblLeft">Estado</label>
                        <div class="col-sm-8">
                            <select id="estado" class="form-control" (change)="obtenerPeriodos()" title="Estado">
                            <option value="3">Todos</option>
                            <option value="0">Liquidado</option>
                            <option value="1">Disponible</option>
                            <option value="2">Pendiente</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4 col-form-label lblLeft">Periodo</label>
                        <div class="col-sm-8">
                            <select id="periodo" class="form-control" title="Periodo" (change)="obtenerDatos()"> 
                            <option value ="9">Seleccionar....</option>
                            <option *ngFor ="let per of periodos" [value]="per.DCPVC_CODIGO">{{per.DCPVC_DESCRIPCION}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body div-T">
            <div class="row" *ngFor="let d of dias">
                <div class="col-md">
                    <!-- style="background-color: #6EADBE; color: #FFFFFF;" -->
                    <div class="card mb-2 border-1 card-border-1">
                        <div class="card-body text-center">
                            <b style=" color: #192A67; ">Ordinarios</b>
                            <table>
                                <tr>
                                    <td>Laborables</td>
                                    <td style="width:200px; text-align: center;">{{d.DCPVC_ORD_LAB}}</td>
                                    <!-- <td style="width:200px; text-align: center;">{{d.DCPVC_ORD_LAB_DISP}}</td> -->
                                    <td style="width:200px; text-align: center;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" id="ordinarios_lab" role="progressbar" style="width: {{porcentaje_ordinario_lab}}%;" aria-valuemin="0">{{d.DCPVC_ORD_LAB_DISP}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:200px; text-align: center;">No laborables</td>
                                    <td style="width:200px; text-align: center;">{{d.DCPVC_ORD_NLAB}}</td>
                                    <!-- <td style="width:200px; text-align: center;">{{d.DCPVC_ORD_NLAB_DISP}}</td> -->
                                    <td style="width:200px; text-align: center;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" id="ordinarios_nolab" style="width: {{porcentaje_ordinario_nolab}}%;" aria-valuemin="0">{{d.DCPVC_ORD_NLAB_DISP}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card mb-2 border-1 card-border-1">
                        <div class="card-body text-center">
                            <b style=" color: #192A67; ">Adicionales</b>
                            <table>
                                <tr>
                                    <td>Laborables</td>
                                    <td style="width:200px; text-align: center;">{{d.DCPVC_ADS_LAB}}</td>
                                    <td style="width:200px; text-align: center;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" id="adicionales_lab" role="progressbar" style="width: {{porcentaje_adicional_lab}}%;" aria-valuemin="0">{{d.DCPVC_ADS_LAB_DISP}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:200px; text-align: center;">No laborables</td>
                                    <td style="width:200px; text-align: center;">{{d.DCPVC_ADS_NLAB}}</td>
                                    <td style="width:200px; text-align: center;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" id="adicionales_nolab" style="width: {{porcentaje_adicional_nolab}}%;" aria-valuemin="0">{{d.DCPVC_ADS_NLAB_DISP}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-sm-12">

                    <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist" style="background-color:#DFDFDF;">
                        <a class="nav-link active" id="step2-tab" data-toggle="tab" href="#step2" title="Liquidación de tiempo"><i class="bi bi-alarm"></i> Liquidación de tiempo</a>
                        <a class="nav-link " id="step1-tab" data-toggle="tab" href="#step1" title="Permisos"><i class="bi bi-calendar"></i> Permisos</a>
                        <a class="nav-link" id="step4-tab" data-toggle="tab" href="#step4" title="Liquidación de dinero"><i class="bi bi-cash-coin"></i> Liquidación de dinero</a>
                    </div>
                    <div class="tab-content py-4" id="nav-tabContent">
                        <!--STEP 1-->
                        <div class="tab-pane fade div-T" id="step1">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle liquidación tiempo" id="tblTiempo">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Documento</th>

                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Solicitud</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Inicio</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Fin</th>
                                                <th scope="col" id="colortext" colspan="2">Ordinarios</th>
                                                <th scope="col" id="colortext" colspan="2">Adicionales</th>
                                            </tr>
                                            <tr style="background-color:#192A67;">
                                                <th>Laborales</th>
                                                <th>No aborales</th>
                                                <th>Laborales</th>
                                                <th>No aborales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let t of permisos">
                                                <td>{{t.DCPRM_NUM_SOLICITUD}}</td>
                                                <td>{{t.DCPRM_FECHA_SOLIC}}</td>
                                                <td>{{t.DCPRM_FECHA_INICIO}}</td>
                                                <td>{{t.DCPRM_FECHA_FIN}}</td>
                                                <td>{{t.DCPRM_ORD_LAB}}</td>
                                                <td>{{t.DCPRM_ORD_NLAB}}</td>
                                                <td>{{t.DCPRM_ADS_LAB}}</td>
                                                <td>{{t.DCPRM_ADS_NLAB}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--STEP 2 LIQUIDACION TIEMPO-->
                        <div class="tab-pane fade show active div-T" id="step2">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle liquidación tiempo" id="tblTiempo">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Documento</th>

                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Solicitud</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Inicio</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Fin</th>
                                                <th scope="col" id="colortext" colspan="2">Ordinarios</th>
                                                <th scope="col" id="colortext" colspan="2">Adicionales</th>
                                                <th scope="col" id="colortext" colspan="2">Adicionales dinero</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Nº días</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Valor día</th>
                                            </tr>
                                            <tr style="background-color:#192A67;">
                                                <th>Laborales</th>
                                                <th>No aborales</th>
                                                <th>Laborales</th>
                                                <th>No aborales</th>
                                                <th>Laborales</th>
                                                <th>No aborales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let t of tiempo">
                                                <td>{{t.DCAVC_NUM_DOCUMENTO}}</td>
                                                <td>{{t.FECHA_SOL}}</td>
                                                <td>{{t.FECHA_INI}}</td>
                                                <td>{{t.FECHA_FIN}}</td>
                                                <td>{{t.DCAVP_ORDINARIO_LAB}}</td>
                                                <td>{{t.DCAVP_ORDINARIO_NLAB}}</td>
                                                <td>{{t.DCAVP_ADICIONAL_LAB}}</td>
                                                <td>{{t.DCAVP_ADICIONAL_NLAB}}</td>
                                                <td>{{t.DCAVP_ADICIONAL_DNR}}</td>
                                                <td>{{t.DCAVP_ADS_DNR_NLAB}}</td>
                                                <td>{{t.DCAVC_NUM_DIAS}}</td>
                                                <td>{{t.VALOR_DIA}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--STEP 4 LIQUIDACION DINERO-->
                        <div class="tab-pane fade div-T" id="step4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tblDinero" title="Detalle liquidación dinero">
                                        <thead>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Documento</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">F. Solicitud</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Nº días</th>
                                                <th scope="col" id="colortext" colspan="2" style="">Adicionales dinero</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Total días</th>
                                                <th scope="col" id="colortext" rowspan="2" style="vertical-align : middle;text-align:center;">Valor día</th>
                                            </tr>
                                            <tr style="background-color:#192A67;">
                                                <th scope="col" id="colortext" style="">Laborales</th>
                                                <th scope="col" id="colortext" style="">No aborales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let d of dinero">
                                                <td>{{d.DCAVC_NUM_DOCUMENTO}}</td>
                                                <td>{{d.FECHA_SOL}}</td>
                                                <td>{{d.DCAVC_NUM_DIAS}}</td>
                                                <td>{{d.DCAVP_ADICIONAL_DNR}}</td>
                                                <td>{{d.DCAVP_ADS_DNR_NLAB}}</td>
                                                <td>{{d.DCAVP_ADS_DNR_TOTAL}}</td>
                                                <td>{{d.VALOR_DIA}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px">
    </div>
</div>