<div style="height: 100%; width: 100%; background-color:#F4F5F6;">
    <div style="height: 10px">
    </div>

    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px; padding-top: 10px;">Experiencia del<strong> empleado</strong> </p>
        </div>
        <div class="card-body">
            <div class="table-responsive div-T" id="divTable">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle experiencia">
                    <thead>
                        <tr style="background-color:#192A67;">
                            <th>Empresa</th>
                            <th>Cargo</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Función</th>
                            <th>Tiempo</th>
                            <th>Clasificación</th>
                            <th>Tipo</th>
                            <th>Adjunto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exp of experiencia">
                            <td>{{exp.EMPRESA}}</td>
                            <td>{{exp.CARGO}}</td>
                            <td>{{exp.FEC_INICIO}}</td>
                            <td>{{exp.FEC_FIN}}</td>
                            <td>{{exp.FUNCION}}</td>
                            <td>{{exp.TIEMPO}}</td>
                            <td>{{exp.CLASIFICACION}}</td>
                            <td>{{exp.TIPO}}</td>
                            <td>

                                <button type="button " style="float: right;" class="btn btn-outline-info" (click)="descargar(exp.CODIGO)" title="Descargar adjunto"><i class="fa fa-download"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 50px">
    </div>
</div>