<div style="height: 100%; width: 100%; background-color:#f7f7f9;">
    <div style="height: 10px">
    </div>

    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px; padding-top: 10px;">Instrucción del<strong> empleado</strong> </p>
        </div>
        <div class="card-body">
            <div class="table-responsive div-T" id="divTable">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle instrucción">
                    <thead>
                        <tr style="background-color:#192A67;">
                            <th>Nivel</th>
                            <th>Titulo</th>
                            <th>Especialidad</th>
                            <th>Fecha</th>
                            <th>Adjunto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ins of instruccion">
                            <td> {{ins.NIVEL}} </td>
                            <td>{{ins.TITULO}} </td>
                            <td>{{ins.ESPECIALIDAD}} </td>
                            <td>{{ins.FECHA}} </td>
                            <td style="text-align: center">
                                <button type="button " style="float: right;" class="btn btn-outline-info" (click)="descargar(ins.DSLPT_CODIGO)" title="Descargar adjunto"><i class="fa fa-download"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 50px">
    </div>
</div>