<div style="height: 100%; width: 100%; background-color:#F4F5F6;">
    <div style="height: 10px">
    </div>
    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px;">Formación del<strong> empleado</strong> </p>
        </div>
        <div class="card-body">
            <div class="table-responsive div-T" id="divTable">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle experiencia">
                    <thead>
                        <tr style="background-color:#192A67;">
                            <!-- <th >Número</th> -->
                            <th>Entrenamiento</th>
                            <th>Fecha</th>
                            <th>Horas</th>
                            <th>Clasificación</th>
                            <th>Tipo</th>
                            <th>Competencia</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: left;font-size: small;">
                        <tr *ngFor="let for of formacion">
                            <!-- <td>{{for.DEEVN_NUMERO}}</td> -->
                            <td>{{for.DSLPA_DESCRIPCION}}</td>
                            <td>{{for.DSLPA_FECHA_REALIZO}}</td>
                            <td>{{for.DSLPA_HORAS}}</td>
                            <td>{{for.DSLPA_CLASIFICACION}}</td>
                            <td>{{for.DSLPA_TIPO}}</td>
                            <td>{{for.DSLPA_COMPETENCIA}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 50px">
    </div>
</div>