<div id="pageContent" class="container-fluid py-3">
    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px;padding-top: 10px;">Solicitudes de<strong> vacaciones</strong> </p>
        </div>
        <div class="card-body">
            <div class="table-responsive div-T" id="divTable">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" title="Detalle solicitudes">
                    <thead>
                        <tr style="background-color:#192A67;">
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Documento</th>
                            <th>Periodo</th>
                            <th>Nº días</th>
                            <th>Fecha solicitud</th>
                            <th>Fecha aprobación</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Adjunto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sol of solicitud">
                            <td>{{sol.DCAVC_ESTADO_SOLICITUD}}</td>
                            <td>{{sol.DCAVC_TIPO_SOLICITUD}}</td>
                            <td>{{sol.DCAVC_NUM_DOCUMENTO}}</td>
                            <td>{{sol.DCPVC_DESCRIPCION}}</td>
                            <td>{{sol.DCAVC_NUM_DIAS}}</td>
                            <td>{{sol.DCAVC_FECHA_SOLICITUD}}</td>
                            <td>{{sol.DCAVC_FECHA_APRUEBA}}</td>
                            <td>{{sol.DCAVC_FECHA_INICIO}}</td>
                            <td>{{sol.DCAVC_FECHA_FIN}}</td>
                            <td>
                                <button type="button " style="float: right;" class="btn btn-outline-info" (click)="descargar(sol.CODIGO)" title="Descargar adjunto"><i class="fa fa-download"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>