<div id="pageContent" class="container-fluid py-3">
    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 24px; padding-top: 10px;">Información <strong>laboral</strong></p>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Apellidos y nombres</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="datosEmp" disabled="" placeholder="Apellidos y nombres" title="Apellidos y nombres" value="{{abrev}} {{empleado}}">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Nº rol</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="rol" disabled="" placeholder="Rol" value="{{rol}}" title="Rol">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Título Puesto</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Título Puesto" title="Título Puesto" value="{{cargo}}">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Zona</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="zona" disabled="" placeholder="Zona" value="{{zona}}" title="Zona">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Régimen laboral</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Régimen" value="{{regimen}}" id="regimen" title="Régimen laboral">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Escala</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="escala" disabled="" placeholder="Escala" title="Escala" value="{{escala}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Tipo contrato</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="contrato" disabled="" placeholder="Tipo contrato" value="{{contrato}}" title="Tipo contrato">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">RMU</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled="" placeholder="RMU" title="RMU" value="$ {{rmu}}">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Departamento</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Departamento" value="{{dpto}}" id="departamento" title="Departamento">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Dependencia</label>
                        <div class="col-sm-9">
                            <textarea autosize class="form-control textarea" disabled="" id="Dependencia" title="Dependencia" placeholder="Dependencia" style="resize: none;">{{dep}}</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Ubicación</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled placeholder="Ubicación" title="Ubicación" value="{{ubi_int}}">

                            <!-- <textarea autosize class="form-control textarea" disabled="" id="ubicacion" placeholder="Ubicación" title="Ubicación" style="resize: none;">{{informacion.UBICACION_INTERNA}}</textarea> </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Tiempo de servicio</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled placeholder="Años" title="Tiempo-Años" value="{{anios}} AÑOS">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft"></label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled placeholder="Meses" title="Tiempo-Meses" value="{{meses}} MESES">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft"></label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled placeholder="Días" title="Tiempo-Días" value="{{dias}} DÍAS">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Antigüedad</label>

                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " id="fIngreso " placeholder="F.S. Antigüedad " title="F.S. Antiguedad " value="{{fec_ant}} ">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Ingreso</label>
                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " id="fIngreso " placeholder="Fecha Ingreso " title="Fecha Ingreso " value="{{fec_ing}} ">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Salida</label>
                        <div class="col-sm-3">
                            <input type="text " class="form-control " disabled=" " id="fSalida " placeholder="Fecha Salida " title="Fecha Salida " value="{{fec_sal}} ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Teléfono</label>
                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " placeholder="Teléfono " title="Teléfono " value="{{tel_trab}} ">

                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Ext.</label>

                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " placeholder="Ext. " title="Extensión " value="{{ext_trab}} ">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Correo</label>

                        <div class="col-sm-3">
                            <input type="text " class="form-control " disabled=" " placeholder="Correo Electrónico " title="Correo Electrónico " value="{{email}} ">

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>