<div style="background-color: #f7f7f9; height: 100%; width: 100%; ">
    <div style="height: 10px">
    </div>
    <div class="card text-center" id="cardEncabezado">
        <div style="background-color: #eaebef">
            <p style="text-align: center; color: #192A67; font-size: 26px;">Información <strong>laboral</strong></p>
        </div>

        <div class="card-body div-T">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">

                        <label class="col-sm-2 col-form-label lblLeft">Apellidos y nombres</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="datosEmp" disabled="" placeholder="Apellidos y nombres" title="Apellidos y nombres" value="{{informacion.ABREVIATURA}} {{informacion.NOMBRE_EMPLEADO}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblRight">Nº rol</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="rol" disabled="" placeholder="Rol" value="{{informacion.ROL}}" title="Rol">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Título Puesto</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Título Puesto" title="Título Puesto" value="{{informacion.CARGO}}">
                        </div>
                        <label class="col-sm-2 col-form-label lblRight">Zona</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="zona" disabled="" placeholder="Zona" value="{{informacion.ZONA}}" title="Zona">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Régimen laboral</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Régimen" value="{{informacion.REGIMEN_LABORAL}}" id="regimen" title="Régimen laboral">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Tipo contrato</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="contrato" disabled="" placeholder="Tipo contrato" value="{{informacion.CONTRATO}}" title="Tipo contrato">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Departamento</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled="" placeholder="Departamento" value="{{informacion.DEPARTAMENTO}}" id="departamento" title="Departamento">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Dependencia</label>
                        <div class="col-sm-9">
                            <textarea autosize class="form-control textarea" disabled="" id="Dependencia" title="Dependencia" placeholder="Dependencia" style="resize: none;">{{informacion.ESTRUCTURA}}</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Ubicación</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled placeholder="Ubicación" title="Ubicación" value="{{informacion.UBICACION_INTERNA}}">

                            <!-- <textarea autosize class="form-control textarea" disabled="" id="ubicacion" placeholder="Ubicación" title="Ubicación" style="resize: none;">{{informacion.UBICACION_INTERNA}}</textarea> </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Tiempo de servicio</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled placeholder="Años" title="Tiempo-Años" value="{{tiempo.anios}} AÑOS">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft"></label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled placeholder="Meses" title="Tiempo-Meses" value="{{tiempo.meses}} MESES">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft"></label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled placeholder="Días" title="Tiempo-Días" value="{{tiempo.dias}} DÍAS">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblLeft">Teléfono</label>
                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " placeholder="Teléfono " title="Teléfono " value="{{informacion.TELF_TRABAJO}} ">

                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Ext.</label>

                        <div class="col-sm-2">
                            <input type="text " class="form-control " disabled=" " placeholder="Ext. " title="Extensión " value="{{informacion.EXT_TRABAJO}} ">
                        </div>
                        <label class="col-sm-1 col-form-label lblLeft">Correo</label>

                        <div class="col-sm-3">
                            <input type="text " class="form-control " disabled=" " placeholder="Correo Electrónico " title="Correo Electrónico " value="{{informacion.EMAIL}} ">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-2 col-form-label lblRight">Escala</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="escala" disabled="" placeholder="Escala" title="Escala" value="{{informacion.NUM_ESCALA}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="row">

                        <label class="col-sm-2 col-form-label lblRight">RMU</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="" placeholder="RMU" title="RMU" value="$ {{informacion.RMU}}">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ">
                <div class="col-sm-4 ">
                    <div class="row ">
                        <label class="col-sm-6 col-form-label lblLeft ">Fecha Ingreso</label>
                        <div class="col-sm-6 ">
                            <input type="text " class="form-control " disabled=" " id="fIngreso " placeholder="Fecha Ingreso " title="Fecha Ingreso " value="{{informacion.FECHA_INGRESO}} ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row ">
                        <label class="col-sm-5 col-form-label lblLeft ">Fecha Salida</label>
                        <div class="col-sm-6 ">
                            <input type="text " class="form-control " disabled=" " id="fSalida " placeholder="Fecha Salida " title="Fecha Salida " value="{{informacion.FECHA_SALIDA}} ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row ">
                        <label class="col-sm-5 col-form-label lblLeft ">F.S. Antiguedad</label>
                        <div class="col-sm-6 ">
                            <input type="text " class="form-control " disabled=" " id="fIngreso " placeholder="F.S. Antiguedad " title="F.S. Antiguedad " value="{{informacion.FECHA_PAGO_ANT}} ">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 ">
                <div class="col-sm-4 ">
                    <div class="row ">
                        <label class="col-sm-6 col-form-label lblLeft ">Teléfono</label>
                        <div class="col-sm-6 ">
                            <input type="text " class="form-control " disabled=" " placeholder="Teléfono " title="Teléfono " value="{{informacion.TELF_TRABAJO}} ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row ">
                        <label class="col-sm-5 col-form-label lblLeft ">Extensión</label>
                        <div class="col-sm-6 ">
                            <input type="text " class="form-control " disabled=" " placeholder="Ext. " title="Extensión " value="{{informacion.EXT_TRABAJO}} ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ">
                <div class="col-sm-12 ">
                    <div class="row ">
                        <label class="col-sm-2 col-form-label lblLeft ">Correo electrónico</label>
                        <div class="col-sm-3 ">
                            <input type="text " class="form-control " disabled=" " placeholder="Correo Electrónico " title="Correo Electrónico " value="{{informacion.EMAIL}} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px ">
    </div>
</div>