@font-face {
    font-family: "Aileron";
    src: local("Aileron"), url(./assets/fonts/aileron/Aileron-Light.otf) format("truetype");
}

@import "~@ng-select/ng-select/themes/default.theme.css";
a {
    color: #192A67;
    text-decoration: none;
    background-color: transparent;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #192A67;
}

body {
    font-family: 'Aileron';
}

input[type=text]:disabled {
    background: #F8F9F9;
    /*#F8F9F9*/
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #F8F9F9;
}

#cardEncabezado {
    width: 96%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: #ffffff;
}

#colortext {
    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    vertical-align: text-top;
}

.btn {
    margin-right: 1%;
}

#titulo {
    margin-top: 1%;
}

.lblLeft {
    text-align: left;
    /* font-size: 17px;    */
    color: #444548;
}

.lblRight {
    text-align: right;
    color: #505256;
}

.inputTextRight {
    text-align: right;
}

.lblcenter {
    text-align: center;
    color: #505256;
}

.table-responsive {
    margin-bottom: 2%;
}

.form-control {
    color: #505256;
}

.selectpicker {
    color: #505256;
}

.form-select {
    color: #505256;
}

.tablas {
    background-color: #25356F;
    color: white;
    text-align: center;
    font-size: small;
}

.dis {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.borderless td,
.borderless th {
    border: none;
}

.card-user form .form-group {
    margin-bottom: 20px;
}

.card-tasks .card-body .table {
    margin-bottom: 0;
}

.card-tasks .card-body .table>thead>tr>th,
.card-tasks .card-body .table>tbody>tr>th,
.card-tasks .card-body .table>tfoot>tr>th,
.card-tasks .card-body .table>thead>tr>td,
.card-tasks .card-body .table>tbody>tr>td,
.card-tasks .card-body .table>tfoot>tr>td {
    padding-top: 0;
    padding-bottom: 0;
}

.card {
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 1 none;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}


/* STYLING SCROLLBAR */


/* 
::-webkit-scrollbar {
    width: 1vw;
}

 ::-webkit-scrollbar-track {
    background-color: #D0D3D4;
}

 ::-webkit-scrollbar-thumb {
    background-color: #212F3C;
    border: 0.3vw solid #D0D3D4;
    border-radius: 5vw;
} */

::-webkit-scrollbar {
    display: none;
}