/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Aileron";
    src: local("Aileron"), url(./assets/fonts/aileron/Aileron-Light.otf) format("truetype");
}

body {
    overflow: hidden;
    font-family: 'Aileron';
}

body::-webkit-scrollbar {
    display: none;
}

.table th {
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    vertical-align: text-top;
    background-color: #192A67;
}

.table td {
    font-size: 14px;
}

.table.dataTable {
    padding-top: 1%;
}

.table.dataTable th {
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    vertical-align: text-top;
    background-color: #192A67;
}

.table.dataTable td {
    font-size: 14px;
}

#titulo {
    margin-top: 1%;
}

.lblLeft {
    text-align: left;
    /* font-size: 17px;    */
    color: #444548;
}

.lblRight {
    text-align: right;
    color: #505256;
}

.inputTextRight {
    text-align: right;
}

.lblcenter {
    text-align: center;
    color: #505256;
}

.table-responsive {
    margin-bottom: 2%;
}

.form-control {
    color: #505256;
}

.form-select {
    color: #505256;
}

.btn {
    margin-right: 1%;
}

#pageContent {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    height: 92vh;
    background-color: white;
}

#pageContent::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #192A67;
}

#page-content-wrapper {
    background-color: white;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .div-M {
        padding-top: 20px;
    }
}