<div class="d-flex h-100 w-100" id="wrapper" style="background-color:#F3F3F3;">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="background-color:#192A67;">
        <div class="sidebar-heading " style="width: 100%;text-align: center; color:#f3f3f3 ; position: sticky;">
            <img [src]="imageUrl" class="rounded-circle perfil" alt="Foto" style=" border:2.5px solid;width: 11ex; height: 11ex; color: {{sesion.COLOR_ESCALA}}"><br>
            <strong> <a style="font-size: medium;font-weight: lighter; "> Rol: {{sesion.DMPER_NUMERO_ROL}} </a><br>          
            <a style="font-size: medium;font-weight: lighter;" > {{sesion.DMPER_NOMBRE_EMPLEADO}} </a> 
            </strong>
        </div>
        <div class="list-group list-group-flush" id="menu">
            <a href="#empleado" class="list-group-item list-mio rotate" data-toggle="collapse" title="Empleado">
                <i class="bi bi-caret-down-fill rotate" style="margin-right: 15px;" id="iconEmpleado" name="iconEmpleado"></i>Empleado
            </a>
            <div class="list-group collapse" id="empleado" data-parent="#menu">
                <a routerLink='laboral' routerLinkActive='active' class="list-group-item list-mio-item" title="Información laboral"><i class="bi bi-briefcase-fill"></i> Información laboral</a>
                <a routerLink='personal' routerLinkActive='active' class="list-group-item list-mio-item" title="Información personal"><i class="bi bi-info-circle"></i> Información personal</a>
                <a routerLink='actualizacion' routerLinkActive='active' class="list-group-item list-mio-item" title="Actualización"><i class="bi bi-pencil-square"></i> Actualización</a>
                <a routerLink='instruccion' routerLinkActive='active' class="list-group-item list-mio-item" title="Instrucción"><i class="bi bi-book"></i> Instrucción</a>
                <a routerLink='experiencia' routerLinkActive='active' class="list-group-item list-mio-item" title="Experiencia"><i class="bi bi-award"></i> Experiencia</a>
                <a routerLink='formacion' routerLinkActive='active' class="list-group-item list-mio-item" title="Formación"><i class="bi bi-layers"></i> Formación</a>
            </div>
            <a href="#Asistencia" class="list-group-item list-mio rotate" data-toggle="collapse" title="Asistencia">
                <i class="bi bi-caret-down-fill rotate" style="margin-right: 15px;" id="iconMenu" name="iconMenu"></i>Asistencia
            </a>
            <div class="list-group collapse rotate2" id="Asistencia" data-parent="#menu">
                <a routerLink='consolidado' routerLinkActive='active' class="list-group-item list-mio-item" title="Consolidado"><i class="bi bi-calendar3"></i> Consolidado</a>
                <a routerLink='permisos' routerLinkActive='active' class="list-group-item list-mio-item" title="Permisos"><i class="bi bi-file-earmark-text"></i> Permisos</a>
                <a routerLink='sobretiempos' routerLinkActive='active' class="list-group-item list-mio-item" title="Sobretiempos"><i class="bi bi-plus-circle"></i> Sobretiempos</a>
            </div>
            <a href="#Vacaciones" class="list-group-item list-mio rotate" data-toggle="collapse" title="Vacaciones">
                <i class="bi bi-caret-down-fill rotate" style="margin-right: 15px;" id="iconMenu" name="iconMenu"></i>Vacaciones
            </a>
            <div class="list-group collapse rotate2" id="Vacaciones" data-parent="#menu">
                <a routerLink='solicitudes' routerLinkActive='active' class="list-group-item list-mio-item" title="Solicitudes"><i class="bi bi-file-richtext"></i> Solicitudes</a>
                <a routerLink='periodos' routerLinkActive='active' class="list-group-item list-mio-item" title="Periodos"><i class="bi bi-calendar-check"></i> Periodos</a>
            </div>
            <a routerLink='rolesPago' class="list-group-item list-mio" routerLinkActive='active' title="Roles de pago" data-toggle="#collapse">
                <i class="bi bi-cash-stack" style="margin-right: 15px;"></i>Roles de Pago
            </a>
            <a routerLink='anticipoRmu' class="list-group-item list-mio" routerLinkActive='active' title="Anticipos RMU" data-toggle="#collapse">
                <i class="bi bi-wallet-fill" style="margin-right: 15px;"></i>Anticipos RMU
            </a>
            <!-- <a href="https://app.eeasa.com.ec/intranet" class="list-group-item list-mio" title="Salir">
                <i class="bi bi-box-arrow-right" style="margin-right: 15px;"></i>Salir
            </a> -->

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark border-bottom">
            <button class="btn btn-primary" id="menu-toggle"><i class="bi bi-menu-button-wide"></i></button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-person-lines-fill" style="color: #25356F;"></i>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item " style="visibility: hidden;" id="menuAdmin" title="Administración">
                        <a class=" nav-link" routerLink="principal-admi" style="color: #20315F; "> <i class="bi bi-gear-fill" style="margin-right: 5px;"></i><strong>Administración</strong ></a>
                    </li>
                    <li class="nav-item " title="Usuario">
                        <a class=" nav-link disabled " href="# " style="color: #20315F; "><i class="bi bi-person-fill" style="margin-right:5px; "></i><strong>USUARIO: </strong > <a> {{sesion.DSGUS_CUENTA}}</a></a>
                    </li>
                    <li class="nav-item " title="Salir">
                        <a href="{{salir()}}" title="Salir" class="btn btn-outline-danger border-0 w-100">
                            <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i>Salir
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div style="width: auto; height:100%; ">
           <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->